CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
venv
__pycache__
website/node_modules
.DS_Store
new_docs/node_modules
/.idea/

